# Оконные_функции_анализ_работы_онлайн_кинотеатра

<h3><b>Задача 1</b></h3>
1.	Перейдите на схему course_db_test и изучите информацию, которая хранится в таблице skycinema.client_sign_up.
2.	Проставьте каждой покупке свой ранг, который покажет, какой по счету является данная покупка в рамках всей таблицы.

In [ ]:
select *
        ,row_number () over (order by date_purchase)
from skycinema.client_sign_up

3.	Проставьте каждой покупке свой ранг, который покажет, какой по счету является данная покупка в рамках всех покупок клиента.

In [ ]:
select *
        ,row_number () over (partition by user_id order by date_purchase)
from skycinema.client_sign_up

4.	Рассмотрите только первые покупки для каждого клиента: постройте распределение количества первых покупок клиента по полям is_trial и name_partner (расшифровка из словаря с партнерами на схеме skycinema).

In [ ]:
select f.is_trial
    , s.name_partner
    , count(*)
from
(
select *
        ,row_number () over (partition by user_id order by date_purchase) as rn_client
from skycinema.client_sign_up) f
    left join skycinema.partner_dict s
        on f.partner = s.id_partner
where rn_client = 1
group by 1,2
order by is_trial

5.	Дополните код таким образом, чтобы у вас получились винтажные доходимости, т.е. для каждого партнера необходимо рассчитать, какой процент клиентов дошел до второй покупки, до третьей покупки и тд.

In [ ]:
select s.name_partner
    , count(case when rn_client = 1 then user_id else null end)/count(case when rn_client = 1 then user_id else null end)::float as purchase_1
    , count(case when rn_client = 2 then user_id else null end)/count(case when rn_client = 1 then user_id else null end)::float as purchase_2
    , count(case when rn_client = 3 then user_id else null end)/count(case when rn_client = 1 then user_id else null end)::float as purchase_3
    , count(case when rn_client = 4 then user_id else null end)/count(case when rn_client = 1 then user_id else null end)::float as purchase_4
    , count(case when rn_client = 5 then user_id else null end)/count(case when rn_client = 1 then user_id else null end)::float as purchase_5
    , count(case when rn_client = 6 then user_id else null end)/count(case when rn_client = 1 then user_id else null end)::float as purchase_6
    , count(case when rn_client = 7 then user_id else null end)/count(case when rn_client = 1 then user_id else null end)::float as purchase_7
from
(
select *
        ,row_number () over (partition by user_id order by date_purchase) as rn_client
from skycinema.client_sign_up) f
    left join skycinema.partner_dict s
        on f.partner = s.id_partner
group by 1

<h3><b>Задача 2</b><h3>

1.	Найдите количество уникальных значений поля date_purchase с помощью оператора distinct.
2.	Найдите количество уникальных значений поля date_purchase только с помощью функций row_number и rank.
3.	Убедитесь, что вы получаете один и тот же ответ.

In [ ]:
-- select count (distinct date_purchase)
-- from skycinema.client_sign_up


select count(case when rank_all/rn_all = 1 then rank_all else null end)
from
(
select row_number() over (order by date_purchase) rn_all
    , rank() over (order by date_purchase) rank_all
from skycinema.client_sign_up
) a