# Работа с временными таблицами
<h3><b>Задача 1</b></h3>
Есть таблица с некоторым списком компаний, их принадлежности к стране и значением капитализации (рыночная стоимость самой компании) на конец 2020 года.
Необходимо выявить в каждой стране компанию, капитализация которой максимальна.

In [ ]:
-- create temp table temp_companies_zelenskaya
-- (country varchar(50)
-- , company varchar(50)
-- , capitalization int)



-- insert into temp_companies_zelenskaya
-- values
-- ('Россия', 'Сбербанк',	79504),
-- ('Россия', 'Газпром',	68012),
-- ('Россия', 'Яндекс',	22122),
-- ('Россия', 'Татнефть',	15176),
-- ('Россия', 'X5 Retail Group',	9809),
-- ('Китай',  'Alibaba',  522000),
-- ('Саудовская Аравия', 'Saudi Aramco', 1602000),
-- ('США', 'Apple', 1113000),
-- ('США', 'Amazon', 1000000),
-- ('США', 'Facebook', 475000)

-- select * 
-- from temp_companies_zelenskaya

-- select country
--     ,  max(capitalization) as max
-- into temp table temp_first_result_zelenskaya
-- from temp_companies_zelenskaya
-- group by country

-- select * 
-- from temp_first_result_zelenskaya

select temp_first_result_zelenskaya.*
, temp_companies_zelenskaya.company
from temp_first_result_zelenskaya
    inner join temp_companies_zelenskaya
        on temp_first_result_zelenskaya.country = temp_companies_zelenskaya.country
        and temp_first_result_zelenskaya.max = temp_companies_zelenskaya.capitalization

<h3><b>Задача 2</b></h3>
Вспоминаем домашнее задание пятого урока и схемы Airbnb. Работаем со схемой airbnb_dallas.
Необходимо вывести самые высокие по цене объявления у тех продавцов, у которых было больше всего просмотров в декабре 2020 года (оставляем только трех продавцов).

In [ ]:
-- create temp table temp_prep_results_zel as
-- select listings.host_id, count (1)
-- from airbnb_dallas.reviews
-- inner join airbnb_dallas.listings
--     on listings.id = reviews.listing_id
-- where reviews.date between '2020-12-01' and '2020-12-31'
-- group by listings.host_id
-- order by count (1) desc
-- limit 3
-- найдены 3 объявления с бол. кол-вом просмотров

-- select temp_prep_results_zel.host_id, max(listings.price)
-- into temp table temp_prep2_zel
-- from temp_prep_results_zel
-- inner join
-- airbnb_dallas.listings
--      on listings.host_id = temp_prep_results_zel.host_id
-- group by temp_prep_results_zel.host_id

-- select *,
-- row_number() over (partition by temp_prep_results_zel.host_id order by listings.price desc) as r_price
-- from temp_prep_results_zel
-- inner join
-- airbnb_dallas.listings
--      on listings.host_id = temp_prep_results_zel.host_id
-- проверка выполнения запроса с помощью окон

-- select * 
-- from temp_prep2_zel

select temp_prep2_zel.host_id, listings.name, listings.price 
from temp_prep2_zel
    inner join airbnb_dallas.listings
        on listings.host_id = temp_prep2_zel.host_id and listings.price = temp_prep2_zel.max

<h3><b>Задача 3</b></h3>
Посмотреть и сравнить, как отличается конверсия в третью покупку у учеников, совершивших вторую покупку внутри схемы skyeng_db, в зависимости от пола.

In [ ]:
-- select user_id
-- into temp table temp_c2_students
-- from skyeng_db.payments
-- where operation_name = 'Покупка уроков' 
-- 	and status_name = 'success'
-- group by user_id
-- having count(1)>1
-- cтуденты, совершившие 2 покупки

-- select *
-- from temp_c2_students

-- select user_id
-- into temp table temp_c3_students
-- from skyeng_db.payments
-- where operation_name = 'Покупка уроков'
--     and status_name = 'success'
-- group by user_id
-- having count(1)>2
-- cтуденты, совершившие 3 покупки

-- select *
-- from temp_c3_students

select students.student_sex
    , count(1)
    , count(temp_c3_students.user_id)*100/count(1)
from skyeng_db.students
    inner join temp_c2_students
        on temp_c2_students.user_id = students.user_id
    left join temp_c3_students
        on temp_c3_students.user_id = students.user_id
group by students.student_sex